@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FACELAB</h1>
    <img src="https://pruebaloli.s3.us-east-2.amazonaws.com/logo(1).png" class="" alt="Keanu" width="150" height="150">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <br>

<div class="row">
  <div class="col-8">
       <img src="https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/styles/bi_876/public/media/image/2019/09/keanu-reeves-has-appeared-numerous-hit-films-matrix-and-john-wick.jpg?itok=dm8VQ74V" class="border" alt="Keanu" width="700" height="650"> 






  </div>
  <div class="col-4">
      <br></br><br>
      <p>Temperatura C° :</p><input type="text" class="form-control">
      <p>Fecha :</p> <input type="text" class="form-control">
      <p>Facultad : </p> <input type="text" class="form-control">
      <p>Nombres y Apellidos :</p> <input type="text" class="form-control">
      <p>Codigo :</p> <input type="text" class="form-control">








  </div>
</div>










</body>

